.main {
  background-image: url("../../img/Background.jpg");
  background-size: cover;
  height: 100vh;
  background-repeat: no-repeat;
  /* background-position: center; */
  /* background-size: contain;  */

  display: flex;
  align-items: center;
  flex-direction: column;
}

.background-box {
  background-color: rgba(101, 146, 100, 0.5);
  width: 100vw;
  height: 100vh;
}
.posts {
  height: 100%;
  width: 20rem;
  border-radius: 0.3rem;
  background-color: white;
  opacity: 0.9;
  padding: 1rem;
}

.postContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.allPosts {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainTitle {
  margin-top: 1.5rem;
}

@media screen and (max-width: 350px) {
  .posts {
    width: 15rem;
    font-size: smaller;
  }
  .main {
    background-image: url("../../img/cat.jpg");
    background-size: cover;
    height: 100vh;
  }
}
