.addPostContainer {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

.remove-btn {
  cursor: pointer;
  margin-bottom: 0;
  padding-left: 0.7rem;
}

.addBtn {
  width: 8rem;
  font-size: 1rem;
  align-self: center;
  margin: 1rem 0;
}

.newBtn {
  width: 8rem;
  font-size: 1rem;
  margin: 1rem 4rem;
}

.formAddPost {
  width: 15rem;
}

.interactIcons {
  display: flex;
  justify-content: flex-end;
}
